<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-header-custom">
      <tr>
        <th>ID Commande</th>
        <th>ID Utilisateur</th>
        <th>Total</th>
        <th>Statut</th>
        <th>Liste des Plats</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="align-middle">
        <td>{{ order.id }}</td>
        <td>{{ order.userId }}</td>
        <td>{{ order.total | currency }}</td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-primary': order.status === 'PENDING',
              'badge-warning': order.status === 'PROCESSING',
              'badge-danger': order.status === 'CANCELLED',
              'badge-success': order.status === 'PAID'
            }"
          >
            {{ order.status }}
          </span>
        </td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let item of order.items">
              <div class="d-flex align-items-center">

                <img [src]="item.imageBase64" alt="Image de l'item"  class="item-thumbnail" />

                <div class="ms-2">
                  <strong>{{ item.productName }}</strong>
                  <br />
                  Quantité: {{ item.quantity }}
                  <br />
                  Prix: {{ item.price | currency }}
                </div>
              </div>
            </li>
          </ul>
        </td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm"
            (click)="changer_status()"
          >
            <i class="bi bi-pencil-square"></i> Modifier Statut
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



